div nav.flex{
    display: flex;
    position: sticky; 
    top: 0;                                     /* Position the navbar at the top of the page */
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 2;
}

nav div.containerleft{
    display: flex;
    margin-left: 20px;
}

ul.navbarList{
    display: flex;
    list-style-type: none;
    padding-top: 25px;
}

div ul.navbarList li a{
    color: white;
    text-decoration: none;
    margin-left: 35px;
}


div nav.scrolled{
    background-color: black;
    transition: .3s;
}

div.contianerRight{
    margin-top: 30px;
    margin-right: 50px;
}

div.contianerRight .logout{
    background-color: transparent;
    border: none;
    color: red;    
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}



@media (max-width: 1000px) {
    nav div.containerleft {
        margin-left: 10px;
    }

    div.contianerRight{
        margin-right: 40px;
    }
}


@media (max-width: 850px) {
    /* nav div.containerleft {
        margin-left: 10px;
    } */

    div.contianerRight{
        margin-right: 30px;
    }

    div ul.navbarList li a{
        margin-left: 25px;
    }
}


@media (max-width: 700px) {
    nav div.containerleft {
        margin-left: 5px;
    }

    div.contianerRight{
        margin-right: 12px;
        margin-top: 23px;

    }

    div ul.navbarList li a{
        margin-left: 20px;
    }

    ul.navbarList {
        padding-top: 20px;
    }

    nav div.containerleft img.NavImg {
        height: 60px;
    }
}