div.home-page {
    background-color: black;
}

.mainMovie img.mainimg{
    filter: brightness(60%);
    height: auto;
    width: 100%;
}

.mainMovie div.container{
    position: absolute;
    bottom: 120px;
    margin-left: 50px;
}

.mainMovie div.container div.buttons{
    margin-top: 80px;
}




div.buttons button{
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin-right: 20px;
}


div.buttons button:hover{
    background-color:cyan;
}


@media (max-width: 1100px) {
    .mainMovie div.container img.logoImg {
        height: 200px;
    }

    .mainMovie div.container{
        bottom: 200px;
    }
}

@media (max-width: 920px) {
    .mainMovie div.container img.logoImg {
        height: 180px;
    }

    .mainMovie div.container{
        bottom: 220px;
    }

    div.buttons button {
        margin-bottom: 30px;
    }

    .mainMovie div.container div.buttons{
        margin-top: 60px;
    }
}


@media (max-width: 820px) {
    .mainMovie div.container img.logoImg {
        height: 130px;
    }

    .mainMovie div.container{
        bottom: 280px;
    }

    div.buttons button {
        margin-bottom: 60px;
    }

    .mainMovie div.container div.buttons{
        margin-top: 40px;
    }
}



@media (max-width: 670px) {
    .mainMovie div.container img.logoImg {
        height: 110px;
    }

    .mainMovie div.container{
        bottom: 320px;
    }

    div.buttons button {
        margin-bottom: 80px;
    }

    .mainMovie div.container div.buttons{
        margin-top: 20px;
    }
}